.home {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  z-index: 1;
}
