.section-button {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin: 1em;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #00000000;
  transition: 0.2s;
}

h3:hover {
  color: #000000a9;
}

.selected {
  border-bottom: 2px solid #000000;
}

